In [1]:
import car_com_clawer

Assume I want to search second hand year 2014 SUV car with $20000 budget in new york city

In [2]:
demo = car_com_clawer.leiwen_clawler(body_style='SUV', condition='Used Cars', max_price='$20,000', zip_code="10035", distance='100', year='2014')
demo.test()

there are 100 records in page 1 time:2018-03-22 13:16:42.134386
there are 100 records in page 2 time:2018-03-22 13:17:12.673667
there are 100 records in page 3 time:2018-03-22 13:17:58.113841
there are 100 records in page 4 time:2018-03-22 13:18:25.342481
there are 100 records in page 5 time:2018-03-22 13:19:12.005593
there are 100 records in page 6 time:2018-03-22 13:19:52.223261
there are 100 records in page 7 time:2018-03-22 13:20:39.633332
there are 100 records in page 8 time:2018-03-22 13:21:30.864924
there are 100 records in page 9 time:2018-03-22 13:22:41.813325
there are 100 records in page 10 time:2018-03-22 13:23:42.725230
there are 100 records in page 11 time:2018-03-22 13:24:47.161932
there are 100 records in page 12 time:2018-03-22 13:25:27.811541
there are 100 records in page 13 time:2018-03-22 13:26:58.277577
there are 100 records in page 14 time:2018-03-22 13:28:17.398891
there are 100 records in page 15 time:2018-03-22 13:29:14.799441
there are 100 records in page 16 time:2018-03-22 13:29:56.195270
there are 100 records in page 17 time:2018-03-22 13:30:57.061697
there are 100 records in page 18 time:2018-03-22 13:32:18.696657
there are 100 records in page 19 time:2018-03-22 13:33:37.358514
there are 100 records in page 20 time:2018-03-22 13:34:35.896478
there are 100 records in page 21 time:2018-03-22 13:36:02.815351
there are 100 records in page 22 time:2018-03-22 13:37:48.258752
there are 100 records in page 23 time:2018-03-22 13:39:34.121573
there are 100 records in page 24 time:2018-03-22 13:41:07.846846
there are 100 records in page 25 time:2018-03-22 13:42:37.186669
there are 100 records in page 26 time:2018-03-22 13:44:01.480790
there are 100 records in page 27 time:2018-03-22 13:47:16.817105
there are 100 records in page 28 time:2018-03-22 13:49:46.787029
there are 100 records in page 29 time:2018-03-22 13:52:06.907641
there are 14 records in page 30 time:2018-03-22 13:54:12.256152
  deal_qualilty                                          hyperlink  \
0    GREAT DEAL  https://www.cars.com/vehicledetail/detail/7305...
1    GREAT DEAL  https://www.cars.com/vehicledetail/detail/7301...
2     GOOD DEAL  https://www.cars.com/vehicledetail/detail/7305...
3    GREAT DEAL  https://www.cars.com/vehicledetail/detail/7267...
4    GREAT DEAL  https://www.cars.com/vehicledetail/detail/7180...

         mile                               name object  \
0  50,154 mi.  2014 Mercedes-Benz GLK 350 4MATIC    NaN
1  38,343 mi.               2014 Toyota RAV4 XLE    NaN
2  59,926 mi.                2014 Ford Escape SE    NaN
3  81,101 mi.         2014 Chevrolet Equinox 1LT    NaN
4  45,012 mi.         2014 Jeep Cherokee Limited    NaN

                                    other_attributes    price  year
0  Exterior Color: Black,Interior Color: Black,Tr...  $18,995  2014
1  Exterior Color: Black,Interior Color: Tan,Tran...  $15,995  2014
2  Exterior Color: Black,Interior Color: Gray,Tra...  $13,200  2014
3  Exterior Color: Black,Interior Color: Gray,Tra...  $11,400  2014
4  Exterior Color: White,Interior Color: Black,Tr...  $15,890  2014
there are 2914 in total