In [216]:
from selenium import webdriver
import os
from selenium.webdriver.common.by import By
driverLocation = "C:\\Users\leiwen\workspace\libs\chromedriver.exe"
import pandas as pd
import numpy as np

In [217]:
baseUrl = "https://letskodeit.teachable.com/p/practice"

In [218]:
baseUrl = "https://www.cars.com/for-sale/searchresults.action/?page=1&perPage=100&rd=99999&searchSource=GN_REFINEMENT&showMore=true&sort=relevance&stkTypId=28881&yrId=20145&zc=22202"

In [219]:
driver = webdriver.Chrome(driverLocation)
driver.get(baseUrl)

In [220]:
driver.maximize_window()

In [221]:
elements = driver.find_elements(By.XPATH,"//div//div[@class='listing-row__details']")

In [222]:
len(elements)

100

# element

In [223]:
element = elements[5]

In [224]:
element

# year

In [225]:
year = 2008

# Mile

In [226]:
mile = element.find_element_by_xpath(".//span[contains(@class,'listing-row__mileage')]").text

In [227]:
mile

'119,953 mi.'

# name

In [228]:
name = element.find_element_by_xpath(".//h2[contains(@class,'cui-delta listing-row__title')]").text

In [229]:
name

'2008 Ford F-250 XL'

# price

In [230]:
price = element.find_element_by_xpath(".//span[contains(@class,'listing-row__price')]").text

In [231]:
price

'$18,990'

# Hyperlink

In [232]:
Hyperlink = element.find_element_by_xpath(".//a").get_attribute('href')

In [233]:
Hyperlink

'https://www.cars.com/vehicledetail/detail/721118981/overview/'

# deal_qualilty

In [234]:
try:
    deal_qualilty = element.find_element_by_xpath(".//div[contains(@class,'listing-row__price-badge-arrow')]//span")
    deal_qualilty = deal_qualilty.text
except:
    deal_qualilty = "NOT A GOOD DEAL"

In [236]:
deal_qualilty

'GREAT DEAL'

# other attributes

In [237]:
attributes = element.find_elements_by_xpath(".//ul[contains(@class,'listing-row__meta')]//li")

In [238]:
len(attributes)

4

In [239]:
attribute = str()

In [240]:
for i in attributes:
    attribute = attribute+ "," + i.text

In [241]:
attribute = attribute[1:]

In [212]:
attribute

'Exterior Color: Platinum Graphite,Interior Color: Black,Transmission: 5-Speed Automatic,Drivetrain: AWD'

In [242]:
data =pd.DataFrame()

In [213]:
temp1 = pd.DataFrame({
    "year":year,
    "miles": mile,
    "name":name,
    "price":price,
    "Hyperlink": Hyperlink,
    "deal_qualilty":deal_qualilty,
    "other_attributes":attribute
},index= [0])

In [192]:
temp2 = pd.DataFrame({
    "year":year,
    "miles": mile,
    "name":name,
    "price":price,
    "Hyperlink": Hyperlink,
    "deal_qualilty":deal_qualilty,
    "other_attributes":attribute
},index= [0])

In [243]:
pd.concat([data,temp1],axis = 0,ignore_index = True)

,Hyperlink,deal_qualilty,miles,name,other_attributes,price,year
0,https://www.cars.com/vehicledetail/detail/7148...,GREAT DEAL,"112,835 mi.",2008 INFINITI G35 x,"Exterior Color: Platinum Graphite,Interior Col...","$7,495",2008

# next botton

In [15]:
next_botton = driver.find_element_by_xpath("//a[@class = 'button next-page']")

In [18]:
next_botton.click()

In [14]:
driver.back()

In [41]:
driver.quit()